Package: com.jostynp100.Mytheme
Name: Mytheme
Architecture: iphoneos-arm
Description: tema de prueba
Maintainer: JostynP100 <jostyn.alexis@gmail.com>
Author: JostynP100 <jostyn.alexis@gmail.com>
Section: Themes
Filename: debs/Mytheme.deb
dev: JostynP100
Homepage: https://JostynP100.github.io/JP100/
Version: 1.0.1

