Package: com.jostynp100.Tema
Name: Tema
Version: 1.0
Architecture: iphoneos-arm
Description: tema de prueba
Maintainer: JostynP100 <jostyn.alexis@gmail.com>
Author: JostynP100 <jostyn.alexis@gmail.com>
Section: Themes
dev: JostynP100

